# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# virtual environment
venv/
env/

# environment variables
.env

# =========================
# Node / React
# =========================
node_modules/
dist/
build/
.vite/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# AL (Dynamics 365) - (tu peux garder si tu veux)
# =========================
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.flf
TestResults.xml